<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.password">postgres</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/diagnostico_competencia</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		
		<mapping resource="slvd/database/IndicadorIndicador.hbm.xml"/>
    	<mapping resource="slvd/database/Usuario.hbm.xml"/>
    	<mapping resource="slvd/database/VariableLenguistica.hbm.xml"/>
    	<mapping resource="slvd/database/Asignatura.hbm.xml"/>
    	<mapping resource="slvd/database/MatrizAdyacencia.hbm.xml"/>
    	<mapping resource="slvd/database/Indicador.hbm.xml"/>
    	<mapping resource="slvd/database/Resultado.hbm.xml"/>
    	<mapping resource="slvd/database/MatrizAdyacenciaAsociada.hbm.xml"/>
    	<mapping resource="slvd/database/AnalisisEstatico.hbm.xml"/>
    	<mapping resource="slvd/database/Respuesta.hbm.xml"/>
    	<mapping resource="slvd/database/Evaluacion.hbm.xml"/>
    	<mapping resource="slvd/database/Pregunta.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
